{%extends '../base.html'%}
{% block content %}
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-9 ">
            <h3 class="h3 mb-4 text-gray-800"><a href="{% url 'showCustomer' num=invoice.customer.id %}" class="btn btn-lg btn-outline-dark" >Go back</a></h3>
        </div> 
    </div>

    <div class="row justify-content-center " >
        <div class="col-9 ">
        <div class="card shadow mb-4 mt-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Customer Informations</h6>
            </div>
            <div class="card-body pl-5">
               <h2 class='py-2 my-3'>Customer  : <span class="text-primary" >{{ invoice.customer }} </span>.</h2>               
               <h2 class='py-2 my-3'>ShippingAddress : <span class="text-primary" >{{ invoice.shippingAddress }} </span>.</h2>
               <h2 class='py-2 my-3'> Products : 
                {% for prod in invoice.products.all %}
                <span class="text-primary" > {{ prod.name}} </span> - 
                {% endfor %}
                </h2>
               <h2 class='py-2 my-3'> Created At :  <span class="text-primary" >{{invoice.createdAt}} </span>.</h2>
               <h2 class='py-2 my-3'> Invoice Total :  <span class="text-primary" >{{ invoice.total }} $ </span>.</h2>


               <div class="text-center py-4">
                     <h3 class="h3 mb-4 text-gray-800"><a href="{% url 'PrintPdf' num=invoice.id %}" class="btn btn-lg btn-outline-dark" >Print Invoice Pdf</a></h3>

                </div>
            </div>
        </div>            
    </div>
    </div>

{% endblock %}