{%extends '../base.html'%}
{% block content %}
<div class="row justify-content-center">
    <div class="col-8 offset-2">   
      <h2>You have been logged out</h2>

    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
</div>
</div>

{% endblock content %}