{%extends '../base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center" style="margin-top: 250px;">
        <div class="col-8 offset-2">
            <div class="card text-center" style="width: 25rem;">
                <div class="card-body ">
                  <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-lg btn-outline-info" type="submit">Login</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}