{%extends '../base.html'%}
{% block content %}
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-9 ">
            <a href="{% url 'newCustomer' %}" class="btn btn-lg btn-success text-gray-800 mr-3 mb-2" >New Customer</a></h1>
			<a href="{% url 'newInvoice' %}" class="btn btn-lg btn-success text-gray-800 mr-3 mb-2" >Create Invoice</a>

		</div> 
    </div>
 <div class="row justify-content-center " >
    <div class="col-9 ">
	<div class="card shadow mb-4 mt-3">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Customers</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Block Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Block Status</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
						{% for customer in customers %}
							<tr>
								<td>{{ customer.id }}</td>
								<td>{{ customer.name }}</td>
								<td class="text-center">
									{% if customer.blockStatus %}
									<span class="badge  badge-danger badge-pill">Blocked</span>
									{% else %}
									<span class="badge badge-success badge-pill">Active </span>
									{% endif %}
								</td>
								<td class="text-center">
									<div class="btn-group">
										<a class="btn btn-lg btn-info" href="{% url 'showCustomer' num=customer.id %}" >Show</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>            
</div>
</div>
{% endblock content %}