{%extends '../base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-9 ">
            <h3 class="h3 mb-4 text-gray-800"><a href="{% url 'home' %}" class="btn btn-lg btn-outline-dark" >Go back</a></h3>
        </div> 
    </div>


    <div class="row justify-content-center " >
        <div class="col-9 ">
        <div class="card shadow mb-4 mt-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Customer Form</h6>
            </div>
            <div class="card-body pl-5">
                <form method="POST" >
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center py-4">
                        <button type="submit" class="btn btn-outline-primary btn-lg ">Save</button>
                    </div>
                </form>
               
            </div>
        </div>            
    </div>
    </div>
    {% endblock content %}