{%extends '../base.html'%}
{% block content %}
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-9 ">
            <h3 class="h3 mb-4 text-gray-800"><a href="{% url 'home' %}" class="btn btn-lg btn-outline-dark" >Go back</a></h3>
        </div> 
    </div>

    <div class="row justify-content-center " >
        <div class="col-9 ">
        <div class="card shadow mb-4 mt-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Customer Informations</h6>
            </div>
            <div class="card-body pl-5">
               <h2 class='py-2 my-3'>Customer Name : <span class="text-primary" >{{customer.name}} </span>.</h3>               
               <h2 class='py-2 my-3'>Customer Email : <span class="text-primary" >{{customer.email}} </span>.</h3>
               <h2 class='py-2 my-3'> Phone Number :  <span class="text-primary" >{{customer.phone}} </span>.</h3>
               <h2 class='py-2 my-3'> Customer Address :  <span class="text-primary" >{{customer.address}} </span>.</h3>
            </div>
        </div>            
    </div>
    </div>

    <div class="row justify-content-center px-3 my-4">
        <div class="col-9 ">
            <div class="card shadow mb-4 mt-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Customer's Invoice</h6>
                </div>
         <div class="card-body pl-5">
            <div class="table-responsive pr-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ShippingAddress</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.shippingAddress }}</td>
                                <td>{{ invoice.createdAt }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="{% url 'showInvoice' num=invoice.id %}" >Show</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
      </div>
    </div>


{% endblock %}