{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-primary">
<div class="container-fluid" >
<div class="row justify-content-center " >
    <div class="col-9 ">
    <div class="card shadow mb-4 mt-3">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-dark">Invoice Information</h1>
        </div>
        <div class="card-body">
           <h3 class='py-2 my-3'>Customer  : <span>{{ order.customer }} </span>.</h3>               
           <h3 class='py-2 my-3'>ShippingAddress : <span>{{ order.shippingAddress }} </span>.</h3>
           <h3 class='py-2 my-3'> Products : 
            {% for prod in order.products.all %}
            <span> {{ prod.name}} </span> - 
            {% endfor %}
            </h3>
           <h3 class='py-2 my-3'> Created At :  <span>{{order.createdAt}} </span>.</h3>
           <h3 class='py-2 my-3'> Invoice Total :  <span>{{ order.total }} $ </span>.</h3>
        </div>
    </div>            
</div>
</div>

</div>
</body>
</html>
