{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-primary">
	
	<header class="site-header ">
	<nav class="navbar navbar-expand-md fixed-top bg-info mb-5">
	  <div class="container">
		<a class="navbar-brand mr-4 text-white" >SuperMarket</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggle">
		  <div class="navbar-nav mr-auto">
			<a class="nav-item nav-link text-white" href="{% url 'home' %}">Home</a>
		  </div>
		 
		  <!-- Navbar Right Side -->
		  <div class="navbar-nav">
			{% if user.is_authenticated %}
			  <a class="nav-item nav-link text-white" href="{% url 'logout' %}">Logout</a>
			{% else %}
			  <a class="nav-item nav-link text-white" href="{% url 'login' %}">Login</a>
			{% endif %}
		  </div>
		</div>
	  </div>
	</nav>
	</header>
<!-- ####################################################################################### -->

<div class="container-fluid" >
	{% block content %}
	{% endblock %}
</div>
	
<!-- ######################################################################################## -->
	<footer class="footer bg-info py-2" style="position: fixed; bottom: 0%; width: 100%;">
		<div class="container-fluid">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2019</span>
			</div>
		</div>
	</footer>

	<script>
		let divs=document.getElementsByTagName('input');
		for(let i=0; i<divs.length;i++){
			divs[i].className='form-control';
		}

		let selectors = document.getElementsByTagName('select')
		for(let i=0; i<selectors.length;i++){
			selectors[i].className='form-control';
		}

		function changeState(event){
			let data = event.target.classList ;
			if(data[1]=="btn-danger"){
				event.target.className="btn btn-warning btn-md ml-5"
			}else{
				event.target.className="btn btn-danger btn-md ml-5"
			}
			console.log(event.target.classList);
			// event.target.className="btn btn-warning btn-md ml-5"
		}
	</script>
</body>
</html>